<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large ">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#home"><i class="material-icons">arrow_upward</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#about"><i class="material-icons">library_books</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#location"><i class="material-icons">map</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#hours"><i class="material-icons">access_time</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#photos"><i class="material-icons">photo_camera</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#pricing"><i class="material-icons">attach_money</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#contact"><i class="material-icons">person</i></a></li>
  </ul>
</div>
