{% include head.html %}

<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div>
  </div>
</div>

<div id="cookies" style="display:{{site.cookies_banner}}">
  <p style="text-align:left; padding-left:8px"><a value="hide/show" id="check" class="waves-effect waves-light green lighten-1 btn btn-floating pulse"
      onclick="Materialize.toast('{{site.cookie_accept_message}}', 2000)"><i class="material-icons">check</i></a></p>
  {% include cookies.html %}
</div>

<div class="container" style="padding:20px;">
  <div id="about" class="section scrollspy">
    <h3 style="text-align:center;">{{site.about_heading}}</h3>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <span class="card-title"><a style="color:white" href=""></a></span>
          </div>
          <div class="card-content">
            <p>{{site.about_content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="location" class="section scrollspy">
    <h3 style="text-align:center;">{{site.location_heading}}</h3>
    <iframe src="{{site.location_url}}" frameborder="0" style="border:0;width:100%;height:600px" allowfullscreen></iframe>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
</div>


<div class="container" style="padding:20px;">
  <div id="hours" class="section scrollspy">
    <h3 style="text-align:center;">{{site.hours_heading}}</h3>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <span class="card-title"><a style="color:white" href=""></a></span>
          </div>
          <div class="card-content">
            <p>{{site.hours_content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="padding:20px;">
  <div id="photos" class="section scrollspy">
    <h3 style="text-align:center;">Photos</h3>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <span class="card-title"><a style="color:white" href=""></a></span>
          </div>
          <div class="card-content">
            <script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
            <div class="pa-embed-player" style="width:100%; height:480px; display:none;"
              data-link="https://photos.app.goo.gl/WaevT9srxDKFf7XQ6"
              data-title="Bella Rosa Farms">
              <img data-src="https://lh3.googleusercontent.com/8tVEhrqs6tnuvQGTn1QXf377roMd59wAW7XxYDzjhwMt_ort_HZp3Lg5kxZjgLTCt1N8Y_fBI5dzj1DJtnL26ar76lYyBmbI8G-Knqiim5mcZxgXXIk7LFmmLDQe8YWd-FmQMZ0EtyU=w1200-h1600" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/Rqu0zpMO-iDqiVs4-8maRudJM4wh5nheOpsA7hsNEAn4oEPfF1GuvhIjd9_Lw4wNsHhboDyWfwDmmvnLSkNZb10RAt0r-KC3EKD8Haqpva5pAvhj120CGWpxJuwWxKKFFKGRcI-5sz8=w1600-h1600" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/xuJSBPAZzHN1bXND1Jv1vCGSbzKKNZh6TM6BMMidc2rzi96KgIfbDLa-wI5F2gSXCbE8_gZyHUOY3VJIxncdLo_OXU51ThhPo7aQFukB6gDMQF9XUyBwdlPa8CD7Wt7s7qyfyRKZOvM=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/gcFjF4MhiZDaMhcjvmrnx9kLotKm1LHouZUQqU7EOjPu1xP6-4qUUSCf8zf_CTXGi7nq9JY1LnfiV9_aMS6sgzoQXLn084WUi9pzDKn7GWFjFR_0LtQ_J8kavTFW5E1iyYef872pjL8=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/OnCQ9tpzxqk-oXTc4wmlOmInhM0yKp5aVF3aSaQ3-jEhGkHcSYJV-TTxM9i9ns2uob4TLYF9SX5AkGG3_Plx25TeaL2P5kYV_zOKyifieWdOVfX-dI_-e4xRIkwV30fzqk7mDRdgQf4=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/fyuWKpYTjOL_xi2l_GDvS60T_vE88U1L87GHTSqqk5XskmOiMudBHCy8Vg9lvbQiC6Rs6phKJUddqYBPkoY_GU7EKBe8v7Wosng49k8lW4kugS8V8g3Keh4YGkjps0ApTXUGmQzXimk=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/H_8h7Yju_iRug2dZqcUkj_4cCIPZVFm85KZ1IZ5LojRXjWp_Z1BJ4NtKEAru9NC-yC2f3_zGcECNzYGcQruHEhh-kUO8Ndi3TPfjoBRa3iWBXjDp9Jkv7Yk-GvyReg7UoxkHAYrDMlo=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/HGgEuPdPqt03dfFJQqapJzOB5dUc9tydK3AzPerUaMrzmgeEzClvGpp3c8Whco_faSpiBbIxQ5t_rvgv672M3kD3J0Pr2908qoTO8TTQwpG9nq8rqv2G1Y4YuSXRCjRGSG7OsxhM6h8=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/TK8CalDnq0zPMikiVp1pGMGi5DJKM6af9_e6W4FXCqIL7sE0CGLtfV3rrFWk5fSxxiUZIueMMZucr-LLv6lnp4D-Rn52F7JspmGY909SK5LtJjVaUloV_ndqesdbLuK6KYcXX56yJ8Q=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/FhpzZawPsUR7IFJmG-oClHe4REXliDEgJN0II4CjFxUWpI-fjjMcZzAix9v0fkBCnv2gki4sHUTrie-SreFpk9z2SyczLSRyIeBZkugQaADPkIkFAG4zz6WSRx36_jjJDD4BIOOt0r0=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/GvLJeyeyJeqo2bthcI_Onx5-9cJj_qdKTXDJMIHLwLGs-7geoBgPc4swetZcnG0BTtuu0Q90eP1RFYH2tSTBiovjYy5TDHND8Kda39RJT_f9ZfcVtdKZ_0MxVYDMdGFsTFZLdJjn01s=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/Y1lVCZbYhnk-iWoLe5zsyZatM8dnzYb0jgsmpe4XajtUpWZQvYH9iLWx2Q-5BtWNrC6r0luUP7_qHdK9v8IIsyIPg3GSnkBleTUif4rho2LEbVVivRe5g_ba77QIBCOL8RijeXxsGdY=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/DjKvC1Lnr9ejf_wxdJeZ0ZWirHogrzq4gcsO5DEw-n1G-oRPjGoX3fCbGdtbL6hcWnZRVhPDi6LF7sArvySx0Kw5mFHo4H9lwcYN5PgNcrli7oSKGN8zAfmv5hCZhSIRqCPHddb7icc=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/xDuXOb5GuGVYoVRfwWnPrk9Mh3N5yHs1iHJilUIMS8WcqzCLGNCh4WytsCrApCaI7Cz_OPB1qeZ_BJDlWlpFOe1ckWVtYhMe4FlgPAgx95zl-mYrXwhGB6Q_kXVWC_6q4vg2oVK3ZuE=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/jAjC4N-2Inl2XOsGdvsQVyicN-mS-FCS5In8S_Xq5ych2NaFBPPPMqpVaK7YT8_mpU5UzDERdNryKNVfQwgHLS4nvd7OgrGJoggzK0opk8WbNWPjnmig5hjy5yF6InaluAY7w41Q2KU=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/d49rQN89BwHuCUmM-6Wj10QQ1baBteETBUj2fALSBhYTnqqtz_8ArHSrtgTEqaYjBUgd4ec39H7AvELah0f49LFwH_Ma-mHWnNTyIBDq_xYxt_4ZqQ70q4y4QrN6ta4LBcC0S22n1S0=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/d_cWO0JVcd2xqiUY7_xBhzuhJsj_I95Zav9kSSw_5iUPv7ebfGmUO4sbqlgBuw_4yY-YaZ8MqB-hw_eoVY4NmiQcDOmffHPNmqcakkD8KxwUApB3XZzJY-vYLzqU9a-nzu7j6WGnrWw=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/r-eH-ceoSIOD4y9IwgqMLbL0D7x8C6rjbkxrZE52KLECiy59L_uUDI4dZXuh9BklUsGczVtQM9z3FKR2HqbbVvxXYrJowvcIAc_x6XtdgYNrhMJ9xi_C7jwGa8f9hDZZqTg0kNBmjYs=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/OppwQSoWecWlFxUTGl34eDGMfw5aoyHA8Uvm4qpeR4sNkYkeh4He6wPnQ4nLyPVDt50AWtxI_5p8GAwzIA1a_K5ukA-utMoUKqZBaPhn1E-xL6R1q35diaduw3jTKFTDqYWoFvExlIk=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/veAmq8908HpZQuR-j_q0r86yvpQKGaLhYa1H82Cj3WBKwWby4bDcPHGdarZk0XCy84FG4z0zC4cTh1knBQQNEdTroyMiCPhkm7A6wU4kRSkz-VSHwvXgpbolQMzTDwYGNCKnDLMiobo=w1600-h1200" src="" alt="" />
              <img data-src="https://lh3.googleusercontent.com/3xL1vZWux6woLjeTyw3xQYpCn7wHkAukcT0TpMihKoVlC8SaXBjaZ9L6Tv2akuROASjEXr9wKHPnEa6IkjFfO1sjhGDdQmHXPeO5D0RwKYUrfpkimRFqmjAuJUBpc8yvjVc1R1WlFgY=w1600-h1200" src="" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="pricing" class="section scrollspy">
    <h3 style="text-align:center;">{{site.pricing_heading}}</h3>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <span class="card-title"><a style="color:white" href=""></a></span>
          </div>
          <div class="card-content">
            <p>{{site.pricing_content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
    <h3 style="text-align:center;">Contact</h3>
    {% include contact.html %}
  </div>
</div>

{% include nav-burger.html %} {% include footer.html %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1465363-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.gacode}}');
</script>
